@model Helmand.Models.ViewModels.OrderListViewModel
@{
    ViewData["Title"] = "OrderPickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form method="post">


        <br />
        <br />
        <h3 class="text-info"> Order Ready For Pickup</h3>
        <div class="container border border-secondary" style="height:60px">
            <div class="row container">
                <div class="col-11">
                    <div class="row" style="padding-top:10px">
                        <div class="col-4">
                            @Html.Editor("SearchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Name..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("SearchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("SearchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row" style="padding-top:10px;">
                        <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div>
            @if (Model.Orders.Count() > 0)
            {
                <table class="table table-bordered">
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickupName)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Application.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickUpTime)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)</th>
                        <th>Total Items</th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickupName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.Application.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickUpTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderDetails.Count)
                            </td>
                            <td>
                                <button type="submit" class="btn btn-outline-dark anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="modal"><i class="fas fa-stream"></i> Details</button>
                            </td>

                        </tr>
                    }

                </table>
                <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                     page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                     class="btn-group float-right"></div>
                <br />
            }
            else
            {
                <p>No  Order available for Pickup !</p>
            }
        </div>


        <div class="modal" id="myModal" tabindex="1" role="dialog" aria-hidden="true">
            <div class="modal-dialog-centered modal-dialog" role="document">
                <div class="modal-header">
                    <div class="modal-header bg-warning text-light justify-content-center">
                        <h5 class="modal-title">Order Details</h5>
                    </div>

                    <div class="modal-body justify-content-center" id="orderModalContent">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" style="width:20%" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
@section scripts {
    <script>
    var PostBackUrl = '/Customer/Order/GetOrderDetails';

    $(function () {

        $(".anchorDetail").click(function () {

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            $.ajax({
                type: "GET",
                url: PostBackUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                cache: false,
                datatype: "json",
                success: function (data) {
                    $('#orderModalContent').html(data);
                    $('#myModal').modal('show');
                },

                error: function () {
                    alert("Dynamic content load failed")
                }


            });

        });
    })
    </script>
}